<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qtechweb.edu.mapper.EduCourseMapper">


    <select id="getCoursePublishVoById" resultType="com.qtechweb.edu.entity.vo.CoursePublishVo">
        select ec.id, ec.title, ec.price, ec.lesson_num as lessonNum, ec.cover,
               ecd.description,
               et.`name`,
               es1.title as oneSubject,
               es2.title as twoSubject
        from edu_course ec left outer join edu_course_description ecd on ec.id=ecd.id
                           left outer join edu_teacher et             on ec.teacher_id=et.id
                           left outer join edu_subject es1            on ec.subject_parent_id=es1.id
                           left outer join edu_subject es2            on ec.subject_id=es2.id
        WHERE ec.id=#{id}
    </select>

    <select id="getCourseFrontInfo" resultType="com.qtechweb.edu.entity.frontvo.CourseWebVo">
        select ec.id, ec.title, ec.price, ec.lesson_num as lessonNum, ec.cover, ec.buy_count, ec.view_count,
               ecd.description,
               et.id as teacherId, et.`name`, et.intro, et.avatar,
               es1.id as subjectParentId,  es1.title as subjectParentTitle,
               es2.id as subjectId,  es2.title as subjectTitle
        from edu_course ec left outer join edu_course_description ecd on ec.id=ecd.id
                           left outer join edu_teacher et             on ec.teacher_id=et.id
                           left outer join edu_subject es1            on ec.subject_parent_id=es1.id
                           left outer join edu_subject es2            on ec.subject_id=es2.id
        WHERE ec.id=#{id}
    </select>
</mapper>
